<head>
  <title>Do</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>
