body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: @navy;
  font-size: 13px;
  color: white;
  overflow-x: hidden;

}

html,body {
  height: 100%;

}
