
.signup-container {
  max-width: 360px;
  height: 400px;
  margin: 50px auto;
}

.signup-form {
  max-width: 600px;
  height: 100%;
  margin: 50px auto;
  padding: 10px;
  font-size: 20px;

  input {
    height: 60px;
    font-size: 20px;
  }

  button {
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
}
