<template name="signup">
  <div class="index-header"> DO </div>
  <div class="signup-container">
    <form class="signup-form">
      <div class="form-group">
        <label>{{inviteCode}}</label>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button id="signup-btn" type="submit" class="btn btn-default">
        가입하기
      </button>
    </form>
  </div>
</template>
