<template name="index">
  <!-- <a class="index-login-btn" href="/login">로그인</a> -->
  <div class="index-header"> DO </div>


  <form class="index-login-form">
    <div class="col-md-9">
      <div class="form-group">
        <input type="text" class="form-control" id="inviteCode" placeholder="초대코드를 입력해주세요.">
      </div>
    </div>
    <div class="col-md-3">
      <button id="signup-btn" type="submit" class="btn btn-default">
        가입하기
      </button>
    </div>
  </form>


  <div class="index-footer">
    <div class="col-md-12">
      <span> 가입 멤버 {{userCount}} 명 </span>
    </div>
  </div>
</template>
