
form {
  display: block;
  height: 100%;
}
.index-login-btn {
  position: fixed;
  font-size: 18px;
  top: 30px;
  right: 30px;
  color: white;
}

.index-header {
  margin-top: 10%;
  width: 100%;
  font-size: 64px;
  text-align: center;
  cursor: pointer;
}

.index-login-form {
  max-width: 600px;
  height: 100%;
  margin: 50px auto;
  padding: 10px;

  input {
    height: 60px;
    font-size: 20px;
  }

  button {
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
}

.index-footer {
  margin-top: 120px;
  font-size: 20px;
  width: 100%;
  bottom: 120px;
  text-align: center;
}

#login-buttons {
  position: fixed;
  font-size: 18px;
  top: 30px;
  right: 30px;
  color: white;
  z-index: 10;
}

#login-dropdown-list {
  position: absolute;
  top: 50px;
  left: -150px;
}
