<template name="mainLayout">
  <header><h1>Kadira Blog</h1></header>
  <main>
    {{>Template.dynamic template=content}}
  </main>
  <footer>We love Meteor</footer>

  {{>modals}}
  {{> sAlert}}
</template>
